---
# modernize-use-equals-delete will ignore macros only in LLVM 8
Checks: "clang-diagnostic-*,\
performance-*,\
unused-*,\
modernize-*,\
-modernize-use-equals-delete,\
misc-*,\
bugprone-*,\
readability-*,\
"
WarningsAsErrors: '*'

