---
# modernize-use-trailing-return-type: more cost than benefit
# bugprone-reserved-identifier produces errors for legit xmlsec code
# readability-function-cognitive-complexity too noisy
# new in clang-17:
# - misc-header-include-cycle
# - misc-include-cleaner
Checks: "clang-diagnostic-*,\
performance-*,\
unused-*,\
modernize-*,\
-modernize-use-trailing-return-type,\
misc-*,\
bugprone-*,\
-bugprone-reserved-identifier,\
readability-*,\
-readability-function-cognitive-complexity,\
-misc-header-include-cycle,
-misc-include-cleaner,\
"
WarningsAsErrors: '*'

